styles.css {
  
}

body *{
	padding: 70px
}

a {
	font-family: 'Overwave'; 
	font-size: 30px; 
	color: white;
}
a {
  padding: 20px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }


