styles.css {
  
}


<meta name="viewport" content="width=device-width, initial-scale=1.0">

@media (min-width: 320px) and (max-width: 480px) {
a {
	font-family: 'Overwave'; 
	font-size: 30px; 
	color: white;
}

* {
  box-sizing: border-box;
}

}
