style.css {
  
}
a {
	font-family: 'Helvetica'; 
	font-size: 30px; 
	color: white;
}
h1 {
	font-family: 'Helvetica'; 
	font-size: 30px; 
	color: white;
}
h2 {
	font-family: 'Helvetica'; 
	font-size: 30px; 
	color: white;
}
p {
	font-family: 'Helvetica'; 
	font-size: 20px; 
	color: white;
}
li { 
	font-size:30px;
	color:white;
	font-family:Helvetica;
}
body {
	font-family: 'Helvetica'; 
	font-size: 20px; 
	color: white;
}
linux-details {
	width: 80%;
	padding: 1%;

}
linux-img {
	height: 600px;
	width: 500px;
	margin-left: 30%;
	float: left;

}


@media screen (min-width: 320px) and (max-width: 768px)
	img {
	padding: 15px;
	width:100%;
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
}
* {
	box-sizing: border-box;
  }

#wrapper {width:95%;  margin: 0 auto; }

#header {width:100%; }

#content {width:100%; }

#sidebar {width:100%; }

#footer {width:100%; }

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {

#wrapper {width:90%;  margin: 0 auto; }

#content {width:70%; float:left; }

#sidebar {width:30%; float:right; }

// Large devices (desktops, 992px and up)

@media (min-width: 992px) { ... }

}

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {

#wrapper {width:90%;  margin: 0 auto; }

}

@media (min-width: 992px) {

	body, p, a, h4 {
	
	font-size: 14px;
	
	}
	
	}
